.far {
    color: gray;
}

.selected {
    background-color: #004b89;
    color: white;
    font-weight: bold;
}

.fa-file-pdf {
    color: red;
}

.fa-trash,
.fa-trash-alt {
    /*color: darkblue*/
    color: red
}