<h1 class="h2">Guida all'utilizzo di MOOn</h1>
<div class="row mt-5">
    <div class="col-12 col-lg-3">

        <button class="btn btn-secondary  d-block d-lg-none position-fixed fixed-bottom rounded-circle btn__float" 
    type="button" 
    data-bs-target="#sidebarNav" 
    data-bs-toggle="collapse" 
    href="#sidebarNav" 
    role="button" 
    aria-expanded="false" 
    aria-controls="sidebarNav" 
    data-focus-mouse="false">
            <svg class="icon icon-sm align-top icon-primary">
                <use [attr.href]="'./assets/svg/sprite.svg#it-more-items'" [attr.xlink:href]="'./assets/svg/sprite.svg#it-more-items'"></use>
            </svg>
            <span class="visually-hidden">Mostra argomenti</span>
        </button>

        <nav class="navbar it-navscroll-wrapper navbar-expand-lg affix-top nav__float bg-light" >
            <div class="navbar-collapse collapse pb-5 pb-lg-0" id="sidebarNav">
                <div class="menu-wrapper py-3 bg-light">
                    <div class="link-list-wrapper small">
                        <h3>Domande frequenti</h3>
                        <ul class="link-list">
                            <li class="nav-item">
                                <a class="nav-link"  onclick="closeNav(sidebarNav)" (click)="scrollTo('come-compilare-inviare-istanza')" ><span>Come compilare e inviare un'istanza? </span></a>
                            </li>

                            <li>
                                <a class="nav-link" role="link" onclick="closeNav(sidebarNav)" (click)="scrollTo('elenco-istanze')"><span>Dove trovo le mie istanze?</span></a>
                            </li>

                            <li>
                                <a class="nav-link" role="link" onclick="closeNav(sidebarNav)" (click)="scrollTo('email-conferma')"><span>Non ho ricevuto l'email di conferma. Cosa devo fare?</span></a>
                            </li>

                            <li>
                                <a class="nav-link" onclick="closeNav(sidebarNav)" (click)="scrollTo('integrazione-istanza')" ><span>Integrazione istanza
                                    </span></a>
                            </li>

                            <li>
                                <a class="nav-link" onclick="closeNav(sidebarNav)" (click)="scrollTo('duplicazione-istanza')" ><span>Duplicazione istanza
                                    </span></a>
                            </li>
                            <li>

                                <a role="button" class="nav-link d-flex justify-content-between" data-bs-toggle="collapse" data-bs-target="#pagamenti-menu" aria-controls="pagamenti-menu">
                                    <span>Pagamenti</span>
                                    <svg class="icon icon-sm icon-primary right" aria-hidden="true">
                                        <use [attr.href]="'./assets/svg/sprite.svg#it-expand'" [attr.xlink:href]="'./assets/svg/sprite.svg#it-expand'"></use>
                                      </svg>
                                </a>
                                    <ul class="link-sublist collapse" id="pagamenti-menu">
                                    <li>
                                        <a class="nav-link" onclick="closeNav(sidebarNav)" (click)="scrollTo('pagamento-istanza')" ><span>Come effettuare il pagamento?
                                            </span></a>
                                    </li>
                                    <li>
                                        <a class="nav-link" onclick="closeNav(sidebarNav)" (click)="scrollTo('codice-iuv')" ><span>Cos'è il codice IUV?
                                            </span></a>
                                    </li>
                                    <li>
                                        <a class="nav-link" onclick="closeNav(sidebarNav)" (click)="scrollTo('pagamento-online')" ><span>Pagamento online
                                            </span></a>
                                    </li>
                                    <li>
                                        <a class="nav-link" onclick="closeNav(sidebarNav)" (click)="scrollTo('pagamento-territorio')" ><span>Pagamento sul territorio
                                            </span></a>
                                    </li>
                                    <li>
                                        <a class="nav-link" onclick="closeNav(sidebarNav)" (click)="scrollTo('pagamento-problemi')" ><span>Problemi con il pagamento
                                            </span></a>
                                    </li>
                                    <li>
                                        <a class="nav-link" onclick="closeNav(sidebarNav)" (click)="scrollTo('ristampa-avviso')" ><span>Ho smarrito il bollettino
                                            </span></a>
                                    </li>
                                    <li>
                                        <a class="nav-link" onclick="closeNav(sidebarNav)" (click)="scrollTo('pagamento-ritardo')" ><span>Il mio pagamento non risulta ancora effettuato
                                            </span></a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <!-- compilazione istanza -->
    <div class="col-12 col-lg-9  p-3 it-page-sections-container">
        <div id="come-compilare-inviare-istanza" class="it-page-section">
            <h2>Come compilare e inviare un'istanza?</h2>
            <div class="row variable-gutters pt-3 mb-5">
                <div class="col-12 col-md-5 order-2">
                    <figure class="img-wrapper">
                        <img title="seleziona il modulo" alt="screenshot della pagina di elenco moduli"
                            class="card-img-top shadow" src="./assets/im/screen-nuova_istanza.png">
                            <figcaption class="figure-caption">Schermata di "Nuova istanza" con l'elenco dei moduli</figcaption>    
                    </figure>
                </div>
                <div class="col-12 col-md-7">
                    <h4>1. Nuova istanza</h4>
                    <p>Clicca su <b>“Nuova istanza”</b> e cerca il modulo che vuoi compilare.<br>
                        Puoi utilizzare la ricerca avanzata che trovi all’inizio della pagina.
                    </p>
                </div>
            </div>


            <div class="row variable-gutters mb-5">
                <div class="col-12 col-md-5 order-2">
                    <figure class="img-wrapper">
                        <img title="seleziona il modulo" alt="screenshot della pagina di compilazione di un'istanza"
                            class="card-img-top shadow" src="./assets/im/screen-compilazione_istanza.png">
                            <figcaption class="figure-caption">Processo di compilazione dell'istanza</figcaption>    
                    </figure>
                </div>
                <div class="col-12 col-md-7">
                    <h4>2. Compila</h4>
                    <p>Dopo aver cliccato su <b>“Compila”</b> potrai iniziare la compilazione della tua istanza.<br>
                        Inserisci le informazioni richieste nei campi del modulo e clicca sul bottone <b>“Avanti”</b>
                        per procedere,
                        quindi su <b>“Salva e prosegui”</b> per completare la compilazione e andare alla pagina di
                        riepilogo.<br><br>
                        <b>Attenzione!</b> Ricorda di cliccare su <b>“Salva in bozza”</b> ogni tanto, così, se
                        interrompi la compilazione, la tua istanza verrà salvata fra le istanze in lavorazione.
                    </p>
                </div>
            </div>

            <div class="row variable-gutters mb-5">
                <div class="col-12 col-md-5 order-2">
                    <figure class="img-wrapper">
                        <img title="Dettaglio istanza" alt="screenshot della pagina di dettaglio dell'istanza"
                            class="card-img-top shadow" src="./assets/im/screen-dettaglio_istanza.png">
                            <figcaption class="figure-caption">Schermata di dettaglio dell'istanza</figcaption>    
                    </figure>
                </div>
                <div class="col-12 col-md-7">
                    <h4>3. Verifica</h4>
                    <p>Prima di inviare la tua istanza, verifica che le informazioni siano corrette.</p>
                    <p><strong>Attenzione</strong>: dopo avere inviato l'istanza, non sarà più possibile apportare modifiche.</p>
                    <p>Terminata la compilazione, clicca sul bottone <b>"Visualizza"</b> e verifica che le informazioni che hai inserito siano corrette. Puoi anche scaricare il PDF della tua istanza.<br>Se vuoi effettuare delle modifiche, clicca su <b>"Riporta in bozza"</b>.
                    </p>
                </div>
            </div>

            <div class="row variable-gutters ">
                <div class="col-12 col-md-5 order-2">
                    <figure class="img-wrapper">
                        <img title="Elenco istanze" alt="screenshot della pagina di elenco delle istanze inviate"
                            class="card-img-top shadow" src="./assets/im/screen-lista-istanze.png">
                            <figcaption class="figure-caption">Elenco delle tue istanze inviate</figcaption>    
                    </figure>
                </div>
                <div class="col-12 col-md-7">
                    <h4>4. Invia</h4>
                    <p>Se i dati sono corretti, seleziona il pulsante <b>"Invia"</b> per inviare i dati all'ufficio competente. <br>
                    Comparirà una finestra di dialogo che ti chiederà di confermare l'invio. Seleziona il bottone <b>"Conferma"</b>. A questo punto, ti troverai nella schermata di riepilogo con la dicitura "L'istanza è stata inviata correttamente" e riceverai una email di conferma dell'avvenuto invio della tua istanza, con allegato il file .pdf del riepilogo ed eventuali file allegati se previsti nel modulo.
                    <br><br>
                    <b>Attenzione:</b> per assicurarti di avere inviato l'istanza, verifica che questa si trovi nella sezione  <b>"Le mie istanze"</b> alla voce <b>"Inviate"</b>.
                    </p>
                </div>
            </div>
        </div>

        <!-- Elenco istanze -->
        <div id="elenco-istanze" class="it-page-section my-3 py-3 my-lg-4 py-lg-4">
            <h2>Dove trovo le mie istanze?</h2>
            <p>Seleziona la voce del menù principale <b>"Le mie istanze"</b>. <br>
                Qui troverai la lista di tutte le tue istanze suddivise in base al loro stato di lavorazione, ovvero:
            </p>
            <ul>
                <li><b>Importanti</b>: puoi aggiungere le istanze a questa sezione cliccando sull'icona a forma di
                    stella che trovi vicino al numero di istanza.</li>
                <li><b>In lavorazione</b>: qui trovi le istanze che hai lasciato in uno stato di bozza, ossia ancora in
                    lavorazione.
                </li>
                <li><b>Inviate</b>: queste sono le istanze che hai già inviato all'ufficio competente.
                </li>
                <li><b>In attesa di integrazione</b>: qui trovi le istanze che richiedono un intervento di integrazione
                    da parte tua.
                </li>
            </ul>

            <p>Per effettuare una <strong>Ricerca avanzata</strong> delle tue istanze, seleziona la voce <strong>Cerca Istanza</strong> nel menu principale; qui potrai effettuare una ricerca di tutte le tue istanze, filtrandole in base al numero dell'istanza, il modulo, lo stato dell'istanza e la data di creazione.</p>
         
        </div>

        <!-- Email di conferma -->
        <div id="email-conferma" class="it-page-section my-3 py-3 my-lg-4 py-lg-4">
            <h2>Non ho ricevuto l'email di conferma. Cosa devo fare?</h2>
            <p>Se non hai ricevuto l'email, segui queste istruzioni:
            </p>
            <ol>
                <li>vai in <b>"Le mie istanze"</b>, clicca su "Inviate" e cerca l'istanza che ti interessa;</li>
                <li>clicca sul bottone <svg class="icon icon-sm align-top icon-primary">
                        <use [attr.href]="'./assets/svg/sprite.svg#it-info-circle'" [attr.xlink:href]="'./assets/svg/sprite.svg#it-info-circle'"></use>
                    </svg> ed entra nel dettaglio dell'istanza;</li>
                <li>seleziona il bottone <b>"Scarica PDF"</b> e verifica che nel PDF l'indirizzo email che hai inserito
                    sia corretto;</li>
                <li>se l'indirizzo email è corretto, controlla che l'email non sia finita nella <b>posta indesiderata
                        (detta anche "SPAM")</b> del programma di posta che utilizzi (ad es. Gmail, Microsoft Outlook,
                    Thunderbird).</li>
            </ol>
     
            <p>Se l'indirizzo email è corretto e il messaggio non è finito nella posta indesiderata, potrebbe essersi
                verificato un problema tecnico che non dipende da te. <br>In questo caso ti consigliamo di contattare
                l'ufficio di riferimento dell'Ente a cui hai inviato l'istanza.
            </p>
        </div>

        <!-- Integrazione istanza -->
        <div id="integrazione-istanza" class="it-page-section my-3 py-3 my-lg-4 py-lg-4">
            <h2>Come si esegue l'integrazione di un'istanza?</h2>
            <p>Se hai ricevuto una email da parte di MOOn - moon_noreply@csi.it in cui ti viene comunicato che, con
                riferimento alla tua istanza, l'ufficio competente ha richiesto una integrazione (ad esempio una
                richiesta di produrre delle osservazioni o di inviare la ricevuta di pagamento), segui queste
                istruzioni:
            </p>
            <ol>
                <li>vai nella sezione <b>"Le mie istanze"</b>;</li>
                <li>seleziona la scheda <b>"In attesa di integrazione"</b>;</li>
                <li>cerca l'istanza di riferimento (il numero istanza è presente anche nella email che hai ricevuto) e seleziona il bottone <b>"Esegui integrazione"</b> con l'icona <svg
                        class="icon icon-sm icon-primary align-top">
                        <use [attr.href]="'./assets/svg/sprite-custom.svg#add-file'" [attr.xlink:href]="'./assets/svg/sprite-custom.svg#add-file'"></use>
                    </svg>;</li>
                <li>a questo punto ti troverai nel dettaglio dell'istanza. Nella sezione <b>"Prossimo passo"</b>
                    seleziona il bottone che ti permette di eseguire l'integrazione, ad esempio "Invia ricevuta" o
                    "Invia osservazioni";</li>
                <li>nella sezione "Richiesta integrazione" troverai i dettagli della richiesta da parte dell'ufficio
                    competente. Nella sezione sottostante <b>"Integrazione"</b> scrivi il testo di risposta e allega
                    eventuali file richiesti, quindi clicca sul bottone "Invia integrazione".</li>
            </ol>
        
        </div>

        <!-- Duplicazione istanza -->
        <div id="duplicazione-istanza" class="it-page-section my-3 py-3 my-lg-4 py-lg-4">
            <h2>Come funziona la duplicazione di un'istanza?</h2>
            <p>La funzione di <b>"Duplica istanza"</b> ti permette di fare una copia di un'istanza che hai già inviato. In questo modo puoi risparmiare tempo se devi inviare più istanze che hanno molti dati simili o uguali e che appartengono allo stesso modulo.
            </p>
            <p>Per duplicare un'istanza segui questa procedura:</p>
                
            <ol>
                <li>vai in <b>"Le mie istanze"</b></li>
                <li>seleziona la scheda <b>"Inviate"</b>;</li>
                <li>cerca l'istanza da duplicare e seleziona il bottone <b>"Duplica istanza"</b> con l'icona <svg class="icon icon-sm align-top  icon-primary"><use [attr.href]="'./assets/svg/sprite.svg#it-copy'"[attr.xlink:href]="'./assets/svg/sprite.svg#it-copy'"></use></svg>;</li> 
                <li>comparirà una finestra in cui ti viene chiesto di confermare di voler duplicare l'istanza. Seleziona il bottone "Conferma";</li>
                <li>se la duplicazione è andata a buon fine, riceverai il messaggio <b>"L'istanza è stata duplicata con successo!"</b> e ti troverai nel dettaglio dell'istanza appena creata.</li>
            </ol>
            <p>A questo punto seleziona il bottone <b>"Modifica istanza"</b> e modifica tutti i dati necessari prima di procedere all'invio.</p>
        </div>

        <!-- Pagamenti -->
        <div id="pagamento-istanza" class="it-page-section my-3 py-3 my-lg-4 py-lg-4">
            <h2>Come effettuare il pagamento di un'istanza?</h2>
            <p>Per prima cosa, segui le istruzioni indicate nella sezione "Come compilare e inviare un'istanza?" fino al punto 3. Ti troverai nella pagina di dettaglio dell'istanza</p>
            <p>Nella sezione "Prossimo passo" clicca sul bottone <b>"Avvia pagamento"</b> e conferma.<br>
            A questo punto la pagina mostrerà:
            <ul>
                <li><b>sezione "Prossimo passo"</b>: contiene i due bottoni che identificano le modalità di pagamento disponibili, ovvero:
                    <ul>
                        <li><b>pagamento online</b>: pagamento telematico con carta di credito, carta di debito o carta prepagata;</li>
                        <li><b>stampa avviso di pagamento</b>: per stampare il bollettino e pagare sul territorio presso un esercente convenzionato, come banca, posta, bar, tabeccherie e ricevitorie.</li>
                    </ul>
                </li>
                <li><b>"Istruzioni di pagamento"</b>: le istruzioni dettagliate su come eseguire il pagamento, in base alla modalità scelta;</li>
                <li>tabella <b>"Pagamenti"</b>: in questa tabella sono riportati i codici avviso IUV, ovvero i codici associati a un determinato pagamento.</li>
            </ul>

            <!-- Codice IUV -->
            <h3 class="mt-5" id="codice-iuv">Cos'è il codice IUV?</h3>
            <p>IUV sta per "Identificativo Univoco di Versamento" ed è un codice che serve a identificare una determinata operazione di pagamento.<br>Il codice IUV viene generato quando clicchi sul bottone "Avvia pagamento" ed è associato a un Codice Fiscale / Partita IVA del pagatore.</p>
            <p>Quando si verificano problemi con il pagamento può capitare che un codice IUV non sia più utilizzabile: in quel caso puoi generarne uno nuovo seguendo le istruzioni riportate nel dettaglio istanza, nella sezione "Problemi con il pagamento?"</p>
            <p>Quando rigeneri il codice IUV, il codice IUV precedente viene annullato e non può essere più utilizzato. Il codice IUV attivo è l'ultimo della tabella "Pagamenti" ed è seguito dall'icona <svg class="icon icon-sm icon-primary">
                <use [attr.href]="'./assets/svg/sprite.svg#it-copy'" [attr.xlink:href]="'./assets/svg/sprite.svg#it-copy'">
                </use>
              </svg>.</p>

            <!-- Pagamento online -->
            <h3 class="mt-5" id="pagamento-online">Pagamento online</h3>
            <p>Per effettuare il pagamento online, segui queste istruzioni:</p>

            <ol>
              <li>clicca sul bottone “Pagamento online”;</li>
              <li>Clicca su “Sì, procedi” per confermare la modalità di pagamento. Il sistema ti reindirizzerà al sito
                <b>PagoPA</b> in una nuova finestra;
              </li>
              <li><b>su PagoPa</b>: effettua l’accesso con SPID o con indirizzo email;</li>
              <li><b>su PagoPa</b>: Accetta l’informativa e clicca “continua”;</li>
              <li><b>su PagoPa</b>: Seleziona il metodo di pagamento, inserisci i dati richiesti e clicca su “continua”;
              </li>
              <li><b>su PagoPa</b>: Verifica i dati del riepilogo e, se sono corretti, clicca su “Conferma Pagamento”;
              </li>
              <li><b>su PagoPa</b>: Se il pagamento è andato a buon fine, il sito PagoPa ti mostrerà un messaggio di
                successo e ti reindirizzerà al sito <b>PiemontePay</b>. Riceverai una <b>email di conferma</b>
                all’indirizzo di posta con cui hai effettuato l’accesso, con la ricevuta allegata;</li>
              <li><b>su PagoPa</b>: Se il pagamento NON è andato a buon fine, il sito PagoPa ti mostrerà un messaggio che
                dice “Operazione rifiutata” e ti reindirizzerà al sito <b>PiemontePay</b>;</li>
              <li><b>su PiemontePay</b>: chiudi la finestra di PiemontePay per tornare in questa pagina; </li>
              <li>se il pagamento non è andato a buon fine, segui le istruzioni della sezione <b>“Problemi con il
                  pagamento?“</b>;</li>
              <li>il pagamento verrà registrato entro pochi minuti e lo “Stato pagamento” riporterà “Pagamento
                effettuato”;</li>
              <li>può capitare che la registrazione del pagamento richieda più tempo. Se dopo 24 ore il pagamento non
                risulta ancora effettuato, contatta l’Ente a cui stai indirizzando la tua istanza.</li>
            </ol>

            <h3 class="mt-5" id="pagamento-territorio">Pagamento sul territorio</h3>
            <p>Per stampare l'avviso di pagamento e pagare presso un esercente convenzionato, segui queste istruzioni:</p>
            <p>Il pagamento può essere effettuato sul territorio presso:</p>

            <ul>
              <li>filiale bancaria aderente;</li>
              <li>ufficio postale;</li>
              <li>punti di posta privata;</li>
              <li><b>esercenti convenzionati PagoPA</b> come bar, edicole, farmacie, ricevitorie, supermercati,
                tabaccherie.</li>
            </ul>

            <ol>
              <li>copia il codice IUV e tienilo a portata di mano;
              <li>clicca sul bottone <b>“Stampa avviso di pagamento”</b>, quindi su “Sì, procedi” per confermare la modalità di pagamento. Il sistema ti reindirizzerà al sito <b>PiemontePay</b> in una nuova finestra;</li>
              <li>clicca sul bottone <b>“Paga con piemontepay con IUV”</b>;</li>
              <li>inserisci il codice IUV e clicca su <b>“Prosegui”</b>;</li>
              <li>inserisci il codice fiscale relativo allo IUV (lo trovi nella colonna "CF/PIVA Pagatore" della tabella "Pagamenti" in questa pagina);</li>
              <li>clicca sul bottone <b>“Stampa”</b> in basso a destra;</li>
              <li>a questo punto avrai scaricato l’avviso di pagamento. Stampalo e recati presso l’esercente convenzionato per pagare l’avviso;</li>
              <li><b>conserva la ricevuta</b>, potrà essere richiesta per procedere all’invio dell’istanza.</li>
              <li>attendi qualche giorno, riceverai una email di conferma di avvenuta ricezione del tuo pagamento.</li>
            </ol>

            <!-- Problemi pagamento -->
            <h3 class="mt-5" id="pagamento-problemi">Problemi con il pagamento</h3>
            <p>Se la procedura di pagamento non è andata a buon fine (o hai ricevuto un email con esito “Pagamento non eseguito”), <b>è necessario generare un nuovo codice IUV ed effettuare un nuovo pagamento</b>.</p>
            <p>Segui dunque le seguenti istruzioni:</p>

            <ol>
                <li>vai in "Le mie istanze", cerca l'istanza e clicca sul bottone "Stato pagamento" con l'icona <svg class="icon icon-sm icon-primary">
                    <use [attr.href]="'./assets/svg/sprite.svg#it-info-circle'" [attr.xlink:href]="'./assets/svg/sprite.svg#it-info-circle'">
                    </use>
                  </svg>;</li>
                  <li>clicca su "Problemi con il pagamento?";</li>
                <li>segui le istruzioni riportate per generare un nuovo codice IUV ed effettuare un nuovo pagamento.</li>
            </ol>
            <p><b>Attenzione: questa operazione NON ANNULLA un eventuale pagamento in corso, per cui usala SOLO per pagamenti che non sono andati a buon fine.</b></p>

            <h3 class="mt-5" id="ristampa-avviso">Ho smarrito il bollettino</h3>
            <p>Se hai smarrito il bollettino per il pagamento sul territorio e hai bisogno di ristamparlo, collegati al sito <a target="_blank" href="https://pay.sistemapiemonte.it/epayweb/" title="Sito web PiemontePay">PiemontePay</a> e inserisci il codice IUV e il CF/P.IVA per stamparlo nuovamente.</p>
            <p>Trovi le istruzioni passo per passo nella pagina di dettaglio dell'istanza, nella sezione "Devi ristampare l'avviso di pagamento (paga sul territorio)?".</p>

            <h3 class="mt-5" id="pagamento-ritardo">Il mio pagamento non risulta ancora effettuato</h3>
            <p>Se hai effettuato il pagamento sul territorio possono volerci alcuni giorni prima che l'istanza risulti pagata, mentre se hai effettuato il pagamento online la conferma del pagamento richiede alcuni minuti.</p>
            <p>Se hai effettuato il pagamento con successo da diversi giorni, ma l'istanza risulta ancora in stato "IN PAGAMENTO", puoi contattare l'Ente a cui stai inoltrando la tua istanza per chiedere informazioni.</p>

        </div>
    </div>
</div>