<h1 class="h2">Bacheca</h1>
<h5>Come compilare e inviare un’istanza?</h5>

<div class="d-flex flex-column flex-md-row justify-content-center align-items-center my-5 py-4 bg-secondary">
  <h5 class="m-0 px-1 px-md-2"><span class="visually-hidden">Step </span>Nuova istanza </h5>

  <svg class="d-none d-md-block icon icon-primary icon-lg px-1 px-md-2"><use [attr.href]="'./assets/svg/sprite.svg#it-arrow-right'" [attr.xlink:href]="'./assets/svg/sprite.svg#it-arrow-right'"></use></svg>
  <svg class="d-block d-md-none icon icon-primary icon-lg py-2 py-md-2"><use [attr.href]="'./assets/svg/sprite.svg#it-arrow-down'" [attr.xlink:href]="'./assets/svg/sprite.svg#it-arrow-down'"></use></svg>
  
  <h5 class="m-0 px-1 px-md-2"><span class="visually-hidden">Step </span>Compila</h5>

  <svg class="d-none d-md-block icon icon-primary icon-lg px-1 px-md-2"><use [attr.href]="'./assets/svg/sprite.svg#it-arrow-right'" [attr.xlink:href]="'./assets/svg/sprite.svg#it-arrow-right'"></use></svg>
  <svg class="d-block d-md-none icon icon-primary icon-lg py-2 py-md-2"><use [attr.href]="'./assets/svg/sprite.svg#it-arrow-down'" [attr.xlink:href]="'./assets/svg/sprite.svg#it-arrow-down'"></use></svg>

  
  <h5 class="m-0 px-1 px-md-2"><span class="visually-hidden">Step </span>Verifica </h5>

  <svg class="d-none d-md-block icon icon-primary icon-lg px-1 px-md-2"><use [attr.href]="'./assets/svg/sprite.svg#it-arrow-right'" [attr.xlink:href]="'./assets/svg/sprite.svg#it-arrow-right'"></use></svg>
  <svg class="d-block d-md-none icon icon-primary icon-lg py-2 py-md-2"><use [attr.href]="'./assets/svg/sprite.svg#it-arrow-down'" [attr.xlink:href]="'./assets/svg/sprite.svg#it-arrow-down'"></use></svg>

  <h5 class="m-0 px-1 px-md-2"><span class="visually-hidden">Step </span>Invia</h5>
</div>

<div class="row variable-gutters pt-3 mb-5">
  <div class="col-12 col-md-4 order-2">
    <figure class="img-wrapper">
      <img title="seleziona il modulo" alt="screenshot della pagina di elenco moduli" class="card-img-top shadow"
        src="./assets/im/screen-nuova_istanza.png">
    </figure>
  </div>
  <div class="col-12 col-md-8">
    <h4>1. Nuova istanza</h4>
    <p>Clicca su <b>“Nuova istanza”</b> e cerca il modulo che vuoi compilare.<br>
      Puoi utilizzare la ricerca avanzata che trovi all’inizio della pagina.
    </p>
  </div>
</div>


<div class="row variable-gutters mb-5">
  <div class="col-12 col-md-4 order-2">
    <figure class="img-wrapper">
      <img title="seleziona il modulo" alt="screenshot della pagina di compilazione di un'istanza" class="card-img-top shadow"
        src="./assets/im/screen-compilazione_istanza.png">
    </figure>
  </div>
  <div class="col-12 col-md-8">
    <h4>2. Compila</h4>
    <p>Dopo aver cliccato su <b>“Compila”</b> potrai iniziare la compilazione della tua istanza.<br>
      Inserisci le informazioni richieste nei campi del modulo e clicca sul bottone <b>“Avanti”</b> per procedere,
      quindi su <b>“Salva e prosegui”</b> per completare la compilazione e andare alla pagina di riepilogo.<br><br>
      <b>Attenzione!</b> Ricorda di cliccare su <b>“Salva in bozza”</b> ogni tanto, così, se interrompi la compilazione, la tua istanza verrà salvata fra le istanze in lavorazione.
    </p>
  </div>
</div>

<div class="row variable-gutters mb-5">
  <div class="col-12 col-md-4 order-2">
    <figure class="img-wrapper">
      <img title="seleziona il modulo" alt="screenshot della pagina di dettaglio dell'istanza" class="card-img-top shadow"
        src="./assets/im/screen-dettaglio_istanza.png">
    </figure>
  </div>
  <div class="col-12 col-md-8">
    <h4>3. Verifica</h4>
    <p>Terminata la compilazione, clicca sul bottone <b>"Visualizza"</b> e verifica che le informazioni che hai inserito siano corrette. Puoi anche scaricare il PDF della tua istanza.<br>Se vuoi effettuare delle modifiche, clicca su <b>"Riporta in bozza"</b>.
    </p>
  </div>
</div>

<div class="row variable-gutters ">
  <div class="col-12 col-md-4 order-2">
    <figure class="img-wrapper">
      <img title="seleziona il modulo" alt="screenshot della pagina di elenco delle istanze inviate" class="card-img-top shadow"
        src="./assets/im/screen-lista-istanze.png">
    </figure>
  </div>
  <div class="col-12 col-md-8 py-lg-4">
    <h4>4. Invia</h4>
    <p>Se i dati sono corretti, seleziona il pulsante <b>"Invia"</b> per inviare i dati all'ufficio competente. 
      <br>Una volta inviata l'istanza, potrai ritrovarla nella sezione <b>"Le mie istanze"</b> alla voce <b>"Inviate"</b>.
    </p>
  </div>
</div>

