<h1 class="h2">Cookie Policy </h1>
<p>Il sito MOOn - Modulistica Open Online fa uso delle seguenti tipologie di cookie:</p>

<h2>Cookie tecnici</h2>
<p>I cookie tecnici sono necessari per consentire la navigazione sicura ed efficiente dei siti; sono cookie di sessione
    o persistenti, in generale cookie di dominio, come cookie di preferenze utente e cookie di monitoraggio. </p>
<p>L'utilizzo dei cookie tecnici viene fatto in modo da evitare il ricorso ad altre tecniche informatiche potenzialmente
    pregiudizievoli per la riservatezza della navigazione degli utenti, in quanto non consentono l'acquisizione di dati
    personali identificativi dell'utente.</p>