<app-istanza-pagamenti-tab [pagamenti]="istanza.pagamenti"></app-istanza-pagamenti-tab>
<!-- <div *ngIf="istanza?.stato?.nome==='IN PAGAMENTO' && !istanza?.dataEsitoPagamento" class="mb-6">

    <div class="alert alert-warning">
        <span [innerHTML]="msgInAttesaDiPagamentoInvia"></span>
    </div>
    <div class="alert alert-warning">
        <span>Nel caso avessi iniziato una procedura di pagamento non andata a buon fine (o ricevuto un email con esito
            \'Pagamento
            non eseguito\'), lo IUV/Codice avviso risulterebbe già utilizzato. Puoi annullare la richiesta di pagamento
            e riprovare
            in seguito la gestione del pagamento (questo genererà un nuovo IUV / Codice avviso) con
            <a (click)="annullaPagamento()" [routerLink]="[]">Annulla Pagamento</a>.</span>
    </div>
    Il pagamento allo sportello viene eseguito via il Portale <a
        href="https://server/epayweb" target="_blank">Piemontepay</a>.
</div> -->
