<div class="row" style="margin-top: 15px;">
    <div class="col-md-6 offset-md-3">
        <h3>
            Login:
        </h3>
        <form #f="ngForm" (ngSubmit)="login(f)" name="loginForm">
            <div class="form-group">
                <label for="user">Identificativo Utente</label>
                <input #user="ngModel" class="form-control" id="user" name="user" ngModel pin required type="text" maxlength="15" value="">
                <div *ngIf="user.dirty && user.touched && user.invalid">
                    <div *ngIf="user.errors.required" class="alert-danger">
                        Identificativo &egrave; obbligatorio
                    </div>
                    <div class="alert-danger" *ngIf='user.errors.maxlength'>
                        IL campo deve contenere al massimo {{user.errors.maxlength.requiredLength}} caratteri
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input #password="ngModel" class="form-control" id="password" name="password" ngModel password required type="password" maxlength="15" value="">
                <div *ngIf="password.dirty && password.touched && password.invalid">
                    <div *ngIf="password.errors.required" class="alert-danger">
                        Password obbligatoria
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group text-center">
                <button [disabled]="!f.valid" class="btn btn-primary btn-custom-lenght">Login</button>
            </div>
        </form>
    </div>
</div>
