<h1 class="h2">Dichiarazione di accessibilità </h1>
<p>L'accessibilità, in informatica, è la capacità di un dispositivo, di un servizio o di una risorsa d'essere fruibile con facilità da una qualsiasi tipologia d'utente. Il termine è comunemente associato alla possibilità anche per persone con ridotta o impedita capacità sensoriale, motoria o psichica (ovvero affette da disabilità sia temporanea, sia stabile), di fruire dei sistemi informatici e delle risorse software a disposizione. Per i siti delle pubbliche amministrazioni la legge n°4 del 9 Gennaio 2004 "Disposizioni per favorire l'accesso dei soggetti disabili agli strumenti informatici", meglio nota come "Legge Stanca", rende obbligatoria l'osservanza degli standard di accessibilità.</p>

<p>Le Web Content Accessibility Guidelines 2.0 (WCAG 2.0) prevedono 3 livelli di conformità (A, AA e AAA) che indicano quanto strettamente le pagine web risultano conformi allo standard.<br>
L'accessibilità non è comunque solo una questione tecnica: è anche un'attenzione culturale e qualitativa, per sua natura difficilmente misurabile. L'importante è quindi lavorare in modo costante perché il sito sia sempre più facile da usare (vedi il paragrafo successivo sull'Usabilità) ed accessibile a tutti, con ogni dispositivo.</p>

<h2>Dichiarazione di accessibilità</h2>
<p>Il sito è stato realizzato secondo le normative vigenti in termini di accessibilità. 
</p>