
.input-group-text, select , input{font-size: 0.8em}
/* .input-group { margin-bottom:8px;} */

.input-group { margin-bottom:0px;}

button{width:120px}

label{
    margin-right: 0.5em
}

.btn-toggle{
    background-color: #80BCF4 !important; 
    border-radius: 0 !important
   }



