<div>
<p>Elenco delle chiave utilizzabile in alcuni campi di configurazione del modulo (Email, WF Cosmo, CRM)</p>
<h1>Utente</h1>
@@CODICE_FISCALE@@
<br/>@@Cognome@@
<br/>@@Nome@@
<br/>@@COGNOME@@
<br/>@@NOME@@
<br/>@@ATTORE_INS@@
<br/>
<h1>Operatore Conto Terzi</h1>
@@ATTORE_INS_CONTO_TERZI@@
<br/>@@Cognome_CONTO_TERZI@@
<br/>@@Nome_CONTO_TERZI@@
<br/>@@COGNOME_CONTO_TERZI@@
<br/>@@NOME_CONTO_TERZI@@
<br/>
<h1>Ente</h1>
@@ID_ENTE@@
<br/>@@CODICE_ENTE@@
<br/>@@NOME_ENTE@@
<br/>@@DESCRIZIONE_ENTE@@
<br/>@@LOGO_ENTE@@
<br/>@@CODICE_IPA_ENTE@@
<br/>
<h1>Area</h1>
@@CODICE_AREA@@
<br/>@@NOME_AREA@@
<br/>
<h1>Modulo</h1>
@@ID_MODULO@@
<br/>@@CODICE_MODULO@@
<br/>@@ID_MODULO_VERSIONE@@
<br/>@@VERSIONE_MODULO@@
<br/>@@OGGETTO_MODULO@@
<br/>@@DESCRIZIONE_MODULO@@
<br/>
<h1>Istanza</h1>
@@ID_ISTANZA@@
<br/>@@CODICE_ISTANZA@@
<br/>@@CREATED@@|YYYY-MM-DD
<br/>@@CREATED@@
<br/>
<h1>Allegato</h1>
@@ID_ALLEGATO@@
<br/>@@CODICE_FILE_ALLEGATO@@
<br/>@@NOME_FILE_ALLEGATO@@
<br/>@@FORMIO_NAME_FILE_ALLEGATO@@
<br/>
<h1>Protocollo</h1>
<br/>@@NUMERO_PROTOCOLLO@@
<br/>@@DATA_PROTOCOLLO@@
<br/>
<br/>##key##   per l'estrazione di un campo del json dell'istanza.
<br />Questo è limitato ai campi di JSON di tipo string altrimenti precisare il tipo del campo del modulo es.: ##importo!Number##, ##maggiorenne!Boolean##
</div>